.location_wrapper{
  max-width: 700px;
  margin-top: 3em;
  display: grid;
   grid-template-columns: 150px 1fr 1fr 25px;
  grid-template-rows: 300px 100px;
}

.location_photo{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  min-width: 300px;
  height: auto;
  width: auto;
  object-fit: cover;
}

.location_map{
  grid-column: 3 / 4;
  grid-row: 1 / 2;

}

.location_info{
  text-align: center;
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  background-color: #494b4a;
  border-radius: 25px;
  margin-bottom: 2em;
}