.profile_layout{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  grid-template-columns: 100px 1fr 1fr 100px;
}

.profile_photo{
  margin-top: 1.2em;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.userwrapper{
  margin: 2em 2em 2em 0;
  background-color: var(--link-text);
  max-width: 200px;
  padding: 1.5em 3em;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.your-posts-title{
  color: white;
  font-size: 1.7em;
  text-align: left;
}

.profile-bio {
  margin-left: 1em;
}

.photo-title{
  color: white;
  font-weight: 700;
}

.profile-title{
  margin-bottom: 0;
  font-size: 0.9rem;
  text-align: left;
}

.handle-title{
  text-align: left;
}

.location-title{
  font-style: italic;
  text-align: left;
  font-size: 0.8em;
  font-weight: 200;
}

.userposts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 3 / 4;
}

.profile-feed{
  max-width: 700px;
}