.profile_layout{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  grid-template-columns: 100px 1fr 1fr 100px;
}

.profile_photo{
  height: 90px;
  width: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.userwrapper{
  margin: 2em;
  background-color: var(--button-colour);
  max-width: 200px;
  padding: 3em;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.your-posts-title{
  color: white;
  font-size: 2em;
  text-align: left;
}

.profile-bio {
  margin-left: 1em;
}

.photo-title{
  color: white;
  font-weight: 700;
  font-family: cursive;
}

.profile-title{
  margin-bottom: 0;
  text-align: left;
}

.handle-title{
  text-align: left;
}

.location-title{
  text-align: left;
  font-size: 0.8em;
}

.userposts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 3 / 4;
}