@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.home-wrapper{
  display: flex;
  flex-direction: column;
}

.shuttrlogo{
  width: 50%;
  opacity: 90%;
}

.fullscrenvideo{
  background-color: black;
  width: 100vw;
  position:relative; 
  height: 80vh;
}

.fullscrenvideo video {
    position:relative;
    z-index:0;
}
.overlay {
    position:absolute;  
    z-index:1;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#main-logo{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.cta-wrapper{
  background-color: rgb(36, 37, 38);
  width: 100vw;
  height: 600px;
  background-size: 100%;
  filter: brightness(80%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_home{
  color: white;
  width: 300px;
}

.shuttriphone{
  height: 375px;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid p {
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.grid-left{
  height: 620px;
  filter: brightness(80%);
}

.home-img-left{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.grid-right{
  color: white;
  height: 620px;
  background-color: rgb(36, 37, 38);
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(80%);
  flex-direction: column;
  border: white solid 1px;
}

.no-account{
  margin-bottom: 4rem;
}



