.form_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
}

input {
  margin: 0 auto;
  display: block;
  margin: .25em;
}

.cloud_photo{
  margin-top: 2em;
  width: 100%;
  display: block;
}