nav{
  display: inline-block;
  background-color: #2b2e4a;
  width: 100vw;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

nav li{
  display: block;
  color: #e84545;
  padding: 2em;
  text-decoration: none;
}

nav li a {
  text-decoration: none;
}

nav li:hover{
  background-color: #505160;
  color: #ff4949;
}