nav{
  display: inline-block;
  background: rgb(44,53,49);
  background: linear-gradient(0deg, rgba(44,53,49,1) 9%, rgba(17,100,102,1) 69%);
  width: 100vw;
  /* position: fixed;
  top: 0; */
  height: 13vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}

nav li{
  display: block;
  color: var(--link-text);
  padding: 1.2em;
  text-decoration: none;
  border: 2px dashed transparent;
}

nav li a {
  text-decoration: none;
}

nav li:hover{
  border:  2.5px solid #ffcb9a;
  background-color: #2c35317a;
  color: #ffcb9a;

}

.login{
  color: var(--header-bg-colour);
  background-color: #d9b08c;
  padding: 1em 3em;
  margin-right: 1em;
  display: inline;
  border-radius: 25px;
  height: 20px;
}
.navbar_logo{
  width: 120px;
} 