nav{
  display: inline-block;
  background-color: var(--header-bg-colour);
  width: 100vw;
  /* position: fixed;
  top: 0; */
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

nav li{
  display: block;
  color: var(--link-text);
  padding: 2em;
  text-decoration: none;
}

nav li a {
  text-decoration: none;
}

nav li:hover{
  background-color: rgb(27, 86, 87);
  color: #a7feff;
}

.login{
  color: var(--header-bg-colour);
  background-color: var(--link-text);
  padding: 1em 3em;
  margin-right: 1em;
  display: inline;
  border-radius: 25px;
  height: 20px;
}