.page{
  background-color: #2c3531;
  margin-top: 2em;
}

.title{
  font-size: 1.6rem;
  font-weight: 900;
  color: #d9b08c;
}
.discover_container {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
}
.discover_container .search {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background:  #ffcb9a;
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 #d9b08c(0, 0, 0, 0.4);
}
.discover_container .search:hover {
  cursor: pointer;
}
.discover_container .search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 15px;
  right: 0;
  bottom: 0;
  left: 15px;
  width: 5px;
  height: 2px;
  background: #116566;
  transform: rotate(45deg);
  transition: all 0.5s;
}
.discover_container .search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -1px;
  right: 0;
  bottom: 0;
  left: -1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #116566;
  transition: all 0.5s;
}
.discover_container input {
  font-family: "Inconsolata", monospace;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 40px;
  outline: none;
  border: none;
  background: #ffcb9a;
  color: #116466;
  text-shadow: 0 0 10px #d9b08c;
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0 #d9b08c, 0 20px 25px 0 #d9b08c(255, 255, 255, 0.2);
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
}
.discover_container input:hover {
  cursor: pointer;
}
.discover_container input:focus {
  width: 300px;
  opacity: 1;
  cursor: text;
}
.discover_container input:focus ~ .search {
  right: -350px;
  background: #ffcb9a;
  z-index: 6;
}
.discover_container input:focus ~ .search::before {
  top: 0;
  left: 0;
  width: 25px;
}
.discover_container input:focus ~ .search::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: #116566;
  border-radius: 0%;
  transform: rotate(-45deg);
}
.discover_container input::placeholder {
  color: #116466;
  opacity: 0.5;
  font-weight: bolder;

  color: #ffffff00;;
}

.container {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(3,500px);
  gap: 0px;
  grid-auto-rows: (250px, auto);
  justify-content: space-around;
  overflow: hidden;
  justify-content: center;
}

.container .card{
  position: relative;
  width: 100%;
  height: 500px;
}


.container .card .face1{
  width: 100%;
  height: 100%;
  transition: 0.5s;
  position: relative;
  background: #2c3531;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 1;
}
.container .card:hover .face1{
opacity: 0.9;
}
.container .card .face1 .content{
  opacity: 1;
  transition: 0.5s;
}
.container .card:hover .face1 .content{
  opacity: 0.9;
}
.container .card .face1 .content .cloud_photo{
  max-width: 490px;
  max-height: 430px;
  min-width: 490px;
  min-height: 430px;
  object-fit: cover;
}
.container .card:hover .face1 .content .cloud_photo{
  max-width: 490px;
  justify-content: center;
  opacity: 1;
}
 
.container .card .face2{
  width: 500px;
  height: 200px;
  transition: 0.5s;
margin: auto;
  background: #116566;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px #2c3531;
  opacity: 0;
  position: absolute;
  top: 30%;
  z-index: 1;
}
.container .card:hover .face2{
  opacity: 0.9;
  align-items: center;
  font-weight: 900;
  
}

.container .card .face2 .content p{
  margin-bottom: 0rem;
  color: #d9b08c;
  font-weight: 600;
  
}

.container .card .face2 .content a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  color: var(--link-text);
 
  
  }

  .container .card .face2 .content a:hover{
    border:  2.5px solid #ffcb9a;
    background-color: #2c35317a;
    color: #ffcb9a;
    padding: 0.2rem;
  }

/* 
  .popup_styles {
    margin: auto;
    background: rgb(255, 255, 255);
    width: 500px;
    padding: 5px;
  } */

  .modal {
    font-size: 12px;
    padding: 10rem;
    background: rgb(87,101,95);
    background: linear-gradient(180deg, rgba(87,101,95,1) 14%, rgba(44,53,49,1) 100%);
    }
  /* .modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  } */
  .modal > .modal-content {
    padding: 10px 5px;
  }

  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    /* background: #ffffff; */
    border-radius: 18px;
    border: 1px solid #cfcece;
  }

  .search_results {
    color: #d9b08c
  }

  