@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,400;0,700;0,900;1,100&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  background-color: var(--main-bg-color);
  overflow-x: hidden;
}

/* ----------------- base styles --------------- */
:root {
  --main-bg-color:  #2c3531;
  --header-bg-colour: #2c3531;
  --post-bg-color: white;
  --post-text: black;
  --link-text: #d1e8e2;
  --hover-text: #ffcb9a;
  --button-colour: rgb(62, 165, 165);
  --button-hover-colour: rgb(64, 125, 125);
}


